params {
query = "$PWD/inputs/FZDs.fasta"
dbpath = "$PWD/DB/"
db="$PWD/inputs/human_proteomes.fasta"
db_name = "human_proteomes"
threads = 2
outdir = "outputs"
blastoutput="FZDs.blastout"
outFilename="human_aligned.txt"
matrix="mat_file"
table="table.csv"
finaltable="finaltable.csv"
outdbname="combined.fasta"
map="clustermap.png"
options="20"
outfmt="'7 qseqid sseqid pident length mismatch gapopen send evalue bitscore stitle'"
app="blastp"
help=false
createdb=false
chunkSize=1
}


///
manifest {
name = '/genomize_case'
author = 'islekburak'
homePage = 'https://github.com/islekburak'
description = 'nextflow bash'
mainScript = 'main.nf'
version = '1.0.0'
}
///

///
executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}
///

profiles {
	slurm { includeConfig './configs/slurm.config' }
	test { includeConfig './configs/test.config' }
	docker { docker.enabled = true }
	singularity {
		singularity.enabled = true
		singularity.autoMounts = true
	}	
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}
